<!DOCTYPE html>
<html lang="en" class="no-js">
	<head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <title>Goku - Golang Restful server with Gin flavor</title>
        <meta name="description" content="Goku" />
        <meta name="keywords" content="goku, golang" />
        <meta name="author" content="Huy Huynh" />
        <link rel="shortcut icon" href="img/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/component.css" />
        <link href='http://fonts.googleapis.com/css?family=Raleway:200,400,800|Clicker+Script' rel='stylesheet' type='text/css'>
        <!--[if IE]>
        	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="content">
                <div id="large-header" class="large-header">
                    <canvas id="canvas"></canvas>
                    <h1 class="main-title">Goku</span></h1>
                </div>
            </div>
		</div><!-- /container -->

        <script src="js/gin.js"></script>
	</body>
</html>